pandas~=2.2.3
fastparquet~=2024.5.0
polars~=1.12.0
numpy~=2.1.2
dash~=2.18.2
dash_mantine_components~=0.14.7
plotly~=5.24.1
seaborn~=0.13.2
gunicorn
plotly_express
dash_bootstrap_components
flask_caching
